<div class="card">
  <div class="card-header">
    {{pageTitle}}
  </div>
  <div class="card-body">
    <div class="container-fluid">
      <div class="text-center">
        <img src="./assets/images/logo.jpg"
             class="img-responsive center-block"
             style="max-height:250px;padding-bottom:50px" />
      </div>

      <div class="text-center">Implemented by:</div>
      <div class="text-center">
        <h3>Bernard McGeever</h3>
      </div>
      <div class="text-center">Designed by:</div>
      <div class="text-center"> <h4>Deborah Kurata</h4></div>

      <div class="text-center">Angular: Getting Started | Pluralsight.com</div>
    </div>
  </div>
</div>
